[user]
	name = 김대원
	email = james.kim@devsisters.com
[credential]
	helper = osxkeychain
[core]
	editor = nvim
	quotepath = off
	excludesfile = ~/.gitignore_global
[merge]
	ff = false
[alias]
	undo = reset --soft HEAD^
