[submodule "yazi/plugins/system-clipboard.yazi"]
	path = yazi/plugins/system-clipboard.yazi
	url = https://github.com/JamesKim2998/system-clipboard.yazi
[submodule "yazi/plugins/ouch.yazi"]
	path = yazi/plugins/ouch.yazi
	url = https://github.com/JamesKim2998/ouch.yazi
[submodule "yazi/plugins/mediainfo.yazi"]
	path = yazi/plugins/mediainfo.yazi
	url = https://github.com/JamesKim2998/mediainfo.yazi
