# https://yazi-rs.github.io/docs/tips/#confirm-quit
[[mgr.prepend_keymap]]
on  = "q"
run = "plugin confirm-quit"

# Keep Space on the current row after toggling selection
[[mgr.prepend_keymap]]
on   = "<Space>"
run  = "toggle"          # no arrow 1
desc = "Toggle selection (no auto-move)"

# https://github.com/yazi-rs/plugins/tree/main/smart-enter.yazi
[[mgr.prepend_keymap]]
on   = "l"
run  = "plugin smart-enter"
desc = "Enter the child directory, or open the file"

# https://github.com/MasouShizuka/close-and-restore-tab.yazi
[[mgr.prepend_keymap]]
on = [ "<C-w>" ]
run = "plugin close-and-restore-tab close_to_right"
desc = "Close the current tab and turn to right tab, or quit if it is last tab"

[[mgr.prepend_keymap]]
on = [ "<C-t>" ]
run = "plugin close-and-restore-tab restore"
desc = "Restore the closed tab"

# https://github.com/orhnk/system-clipboard.yazi?tab=readme-ov-file#configuration
[[mgr.prepend_keymap]]
on = "<C-y>"
run = ["plugin system-clipboard"]

# https://github.com/stelcodes/bunny.yazi
[[mgr.prepend_keymap]]
desc = "Start bunny.yazi"
on = ";"
run = "plugin bunny"

# https://github.com/lpnh/fr.yazi?tab=readme-ov-file#plugin-args
[[mgr.prepend_keymap]]
on = "<S-s>"
run = "plugin fr rg"
desc = "Search file by content (rg)"

# https://github.com/yazi-rs/plugins/tree/main/mactag.yazi
[[mgr.prepend_keymap]]
on   = [ "b", "a" ]
run  = "plugin mactag add"
desc = "Tag selected files"

[[mgr.prepend_keymap]]
on   = [ "b", "r" ]
run  = "plugin mactag remove"
desc = "Untag selected files"

# https://yazi-rs.github.io/docs/tips
[[mgr.prepend_keymap]]
on = [ "g", "r" ]
run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"'
desc = "Git root directory"

# https://github.com/Lil-Dank/lazygit.yazi
[[mgr.prepend_keymap]]
on   = [ "g", "i" ]
run  = "shell --block lazygit"
desc = "run lazygit"

# https://github.com/yazi-rs/plugins/tree/main/chmod.yazi#usage
[[mgr.prepend_keymap]]
on   = [ "c", "m" ]
run  = "plugin chmod"
desc = "Chmod on selected files"

# https://github.com/ndtoan96/ouch.yazi?tab=readme-ov-file#compression
[[mgr.prepend_keymap]]
on = ["C"]
run = "plugin ouch"
desc = "Compress with ouch"

