[mgr]
show_hidden = true

# https://github.com/yazi-rs/plugins/tree/main/mactag.yazi
[[plugin.prepend_fetchers]]
id   = "mactag"
name = "*"
run  = "mactag"

[[plugin.prepend_fetchers]]
id   = "mactag"
name = "*/"
run  = "mactag"

# https://github.com/yazi-rs/plugins/tree/main/git.yazi
[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"

[plugin]
prepend_preloaders = [
	# https://github.com/boydaihungst/mediainfo.yazi
	# Replace magick, image, video with mediainfo
	{ mime = "{audio,video,image}/*", run = "mediainfo" },
	{ mime = "application/subrip", run = "mediainfo" },
	# https://github.com/macydnah/office.yazi
	# Office Documents
	{ mime = "application/openxmlformats-officedocument.*", run = "office" },
	{ mime = "application/oasis.opendocument.*", run = "office" },
	{ mime = "application/ms-*", run = "office" },
	{ mime = "application/msword", run = "office" },
	{ name = "*.docx", run = "office" },
	{ name = "*.xls", run = "office" },
	{ name = "*.xlsx", run = "office" },
]
prepend_previewers = [
	# https://github.com/mgumz/yazi-plugin-bat
	{ name = "*.csv", run = "bat" },
	{ name = "*.md", run = "bat" },
	{ name = "*.json", run = "bat" },
	{ mime = "application/json", run = "bat" },
	# https://github.com/boydaihungst/mediainfo.yazi
	# Replace magick, image, video with mediainfo
	{ mime = "{audio,video,image}/*", run = "mediainfo"},
	{ mime = "application/pdf", run = "mediainfo" },
	{ mime = "application/subrip", run = "mediainfo" },
	# https://github.com/ndtoan96/ouch.yazi
	# Archive previewer
	{ mime = "application/*zip",            run = "ouch" },
	{ mime = "application/x-tar",           run = "ouch" },
	{ mime = "application/x-bzip2",         run = "ouch" },
	{ mime = "application/x-7z-compressed", run = "ouch" },
	{ mime = "application/x-rar",           run = "ouch" },
	{ mime = "application/x-xz",            run = "ouch" },
	{ mime = "application/xz",              run = "ouch" },
	# https://github.com/macydnah/office.yazi
	# Office Documents
	{ mime = "application/openxmlformats-officedocument.*", run = "office" },
	{ mime = "application/oasis.opendocument.*", run = "office" },
	{ mime = "application/ms-*", run = "office" },
	{ mime = "application/msword", run = "office" },
	{ name = "*.docx", run = "office" },
	{ name = "*.xls", run = "office" },
	{ name = "*.xlsx", run = "office" },
]
# https://github.com/mgumz/yazi-plugin-bat
previewers = [
	{ name = "*/", run = "folder", sync = true },
	{ mime = "text/*",                 run = "bat" },
	{ mime = "*/xml",                  run = "bat" },
	{ mime = "*/cs",                   run = "bat" },
	{ mime = "*/javascript",           run = "bat" },
	{ mime = "*/x-wine-extension-ini", run = "bat" },
]

